<aside class="h-full w-[100%] bg-indigo-600 text-white p-6 space-y-6">
  <h1 class="text-2xl font-bold mb-6">Admin Panel</h1>

  <nav class="space-y-3">
    <a
      routerLink="/dashboard"
      routerLinkActive="bg-indigo-700 font-semibold text-yellow-300"
      class="block w-full text-left py-2 px-4 rounded transition-all duration-200 hover:bg-indigo-700">
      Dashboard
    </a>

    <a
      routerLink="/employer"
      routerLinkActive="bg-indigo-700 font-semibold text-yellow-300"
      class="block w-full text-left py-2 px-4 rounded transition-all duration-200 hover:bg-indigo-700">
      Employment
    </a>

    <a
      routerLink="/leave"
      routerLinkActive="bg-indigo-700 font-semibold text-yellow-300"
      class="block w-full text-left py-2 px-4 rounded transition-all duration-200 hover:bg-indigo-700">
      Leave
    </a>

    <a
      routerLink="/salary"
      routerLinkActive="bg-indigo-700 font-semibold text-yellow-300"
      class="block w-full text-left py-2 px-4 rounded transition-all duration-200 hover:bg-indigo-700">
      Salary
    </a>
  </nav>
</aside>
